.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* border: 2px solid yellow; */
}

.app h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
  color: #fff;
}
